/* Ensure the landing container fills the full height of the viewport */
.landing {
    flex-grow: 1; /* Allows the landing section to grow and fill the space */
    padding: 1rem;
    background-color: #f0f4f8;
}

/* Style for the Card component */
.chakra-card {
    margin-top: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    text-align: center;
}

